{% extends '_layouts/base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>

<div style="background-color: whitesmoke; width: 50%; margin: 0 auto; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
    <br>
    <br>

    <h3 style="text-align: center; color: black;">
        Дякую за замовлення
    </h3>
    <hr>
    <h4 style="color: black; text-align: center;">
        На вказану Вами пошту: <span style="color: darkcyan;">{{ email }}</span> <br>
        відправлено листа із даними вашого замовлення
    </h4>
    <hr>
    <h4 style="color: black; text-align: center;">
        Наш менеджер надішле повідомлення протягом 15 хвилин
    </h4>
    <br>
    <br>
</div>
<br>
<br>
<br>
<br>


{% endblock %}