{% extends '_layouts/base.html' %}

{% load static %}

{% block content %}
  <!-- food section -->
  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 style="color: white;">
          Menu
        </h2>
      </div>


      <!-- фильтр по категориям -->
      <ul class="filters_menu" style="color: white;">
        <li class="active" data-filter="all">All</li>
        {% for c in category %}
          <li data-filter="{{ c.id|stringformat:'s' }}">{{ c.name }}</li>
        {% endfor %}

      </ul>

      <div class="filters-content">
        <div class="row grid">
          {% for p in products %}
            <div class="col-sm-6 col-lg-4 all {{ p.category.id }}">
              <div class="box">
                <div class="menu section img-box">
                  <img src="{{ p.photo.url }}" alt="{{ p.name }}" style="transform: scale(1.5);">
                </div>
                <div class="detail-box">
                  <h5>{{ p.name }}</h5>
                  <p>{{ p.about }}</p>
                  <div class="options">
                    <h6>{{ p.price }} грн</h6>
                    <div class="add-to-cart">
                      <input type="hidden" value="{{ p.id }}">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> До кошика
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="btn-box">
        <a href="#" id="view-more-btn">View More</a>
      </div>
    </div>
    
  </section>
  <!-- end food section -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/filter_menu.js' %}"></script>
<script src="{% static 'js/menu_view_more.js' %}"></script>
{% endblock %}
  
<link rel="stylesheet" href="{% static 'css/style.css' %}">


  


